<div class="card">
	<div class="row">
		<div class="col s12 m6">
			<span class="card-title">Add a new challenge</span>
	<form action= '/challenges' method= 'post' > 
	<input type= 'text' name= 'url' placeholder= 'Paste your url here'>
	<input class="waves-effect waves-light btn" type= 'submit' value= 'submit'>
	</form>
		</div>
	</div>
</div>
